body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 80px; 
    margin-top: 20px; 
    margin-bottom: 140px;
}

.container {
    text-align: center;
}

.enterroom-container {
    text-align: left;
}


.input-box {
    margin: 10px 0;
}

.input-box input {
    width: 400px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
}



.enter-box{
    margin: 10px 0;
}
.enter-box input{
    width: 400px;
    height: 20px;
    font-size: 16px;
    padding: 5px;
}


.creat-box{
    margin: 10px 0;
}

/*下拉框*/
.creat-box select {
    width: 415px;
    height: 90px;
    font-size: 9dvh;
    padding: 15px;
}



.button {
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin: 20px 5px;
}

.login-container, .register-container, .enterroom-container, .room-container, .game-container{
    display: none;
}

.active {
    display: block;
}