.room-container h1 {
    text-align: center;
    font-size: 40px; 
    margin-top: -100px; 
    margin-bottom: 60px;
}       

.leftpage-box {
    float: left;
    width: 50%;
}

.leftpage-box select{
    text-align: left;
    margin-top: 80px; 
    width: 315px;
    height: 90px;
    font-size: 9dvh;
    padding: 15px;
    margin-right: 70px;
}
.leftpage-box .buttonset{
    text-align: left;
    margin-top: 380px; 
    margin-left: 70px;
    margin-right: 70px;
}
.leftpage-box button{
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.leftpage-box .start{
    margin-left: 80px;
}

.leftpage-box button:hover {
    background-color: #2980b9;
}

.rightpage-box {
    float: right;
    width: 50%;
}

.rightpage-box h1{
    text-align: left;
    font-size: 40px; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.rightpage-box body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.rightpage-box .player-list {
    border: 1px solid #921818;
    padding: 10px;
    height: 380px;
    width: 500px;
    margin: 0 auto;
}

.rightpage-box ul {
    list-style: none;
    padding: 0;
}

.rightpage-box li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightpage-box button {
    background-color: #ff5757;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}

.rightpage-box input {
    margin-top: 15px; 
    width: 200px;
    height: 20px;
}